body {
    margin: 0;
    max-width: 500px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

h1 {
    margin: 0;
}

.main_heading {
    display: flex;
    justify-content: space-between;
    margin-block-start: 32px;
}

.navigation {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 32px;
    column-gap: 32px;
    margin-block-start: 8px;
}

.link{
    text-decoration: none;
    font-size: 20px;
    color: black;
}

.link:hover {
    font-weight: bold;
}

.post {
    border-bottom: 2px solid gray;
    padding: 32px;
}

.heading {
    display: flex;
    justify-content: space-between;
}

.profile_image {
    width: 10%;
    border-radius: 50%;
}

.header {
    margin-block-start: 12px;
    margin-inline-start: 16px;
}

img {
    width: 100%;
}

.likes {
    margin-block-start: 32px;
}

.likebtn {
    padding-block: 5px;
    padding-inline: 8px;
    border-radius: 5px;
    border: none;
    background-color: blue;
    color: white;
}

.likes_number {
    margin-inline-start: 32px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h4 {
    font-size: 18px;
    margin-block-end: 0;
}

.friends {
    display: flex;
    justify-content: space-between;
}

.date {
    margin-block-start: 18px;
}

input[type="text"] {
    font-family: 'Poppins_medium';
    padding-right: 30%;
    padding-block-start: 12px;
    padding-block-end: 12px;
    border-radius: 12px;
    border: none;
    background-color: #f2f2f2;
    padding-inline-start: 16px;
    color: #dbdbdb;
    margin-block-start: 8px;
}

input[type="submit"] {
    font-family: 'Poppins_medium';
    margin-left: -90px;
    background-color: white;
    color: black;
    border: 0;
    padding-inline: 16px;
    padding-block: 9px;
    border-radius: 12px;
    -webkit-appearance: none;
}