body {
    margin: 0;
    max-width: 500px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

h1 {
    margin: 0;
}

button {
    cursor: pointer;
}

.header {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block-start: 48px;
}

.post_date {
    text-align: end;
}


.main_heading {
    margin-block: 32px;
    margin-inline-start: 32px;
}

.user_profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-block-start: -8px;
}

h4 {
    font-size: 18px;
    margin: 0;
} 

.commenter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-block-start: 32px;
}

.comment_date {
    text-align: end;
}

.post_description {
    margin-block: 32px;
}

.like {
    margin-block: 32px;
}

.button {
    padding: 8px;
    border-radius: 5px;
    border: none;
    background-color: skyblue;
    box-shadow: 2px 2px 2px gray;
}

.button_like {
    margin-inline-start: 16px;
}

.post_likes {
    margin-inline-start: 16px;
}

.user_name {
    margin-block-start: 0;
    margin-inline-start: 64px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-block-start: 8px;
}

.link:hover {
    font-weight: bold;
    color: rebeccapurple;
    text-decoration: none;
    font-size: 18px;
}

.link_user {
    display: flex;
}


.post {
    border-bottom: 2px solid gray;
    padding: 32px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px 5px lightgray;
}

.add_comment_form {
    margin-block-end: 48px;
}

img {
    width: 100%;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
} 

.options {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 16px;
    column-gap: 16px;
}

.username {
    margin: 0;
}

input[type="text"] {
    font-family: 'Poppins_medium';
    padding-right: 30%;
    padding-block-start: 12px;
    padding-block-end: 12px;
    border-radius: 12px;
    border: none;
    background-color: #f2f2f2;
    padding-inline-start: 16px;
    color: #dbdbdb;
    margin-block-start: 8px;
}

input[type="submit"] {
    font-family: 'Poppins_medium';
    margin-left: -90px;
    background-color: white;
    color: black;
    border: 0;
    padding-inline: 16px;
    padding-block: 9px;
    border-radius: 12px;
    -webkit-appearance: none;
}

.submit_form {
    padding: 32px;
}

.textarea {
    border: none;
    display: flex;
    flex-direction: column;
}

.input_profile,
.input_user_name {
    display: flex;
    justify-content: space-between;
    border: none;
}

.userName {
    margin-block-start: 16px;
}

.input_profile > label {
    margin-block-start: 8px;
}

.statu {
    margin-block-start: 16px;
    background-color: lightgray;
    border: none;
    border-radius: 8px;
}

.image_url {
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: lightgray;
    width: 70%;
}

.submitBttn {
    padding-block: 12px;
    padding-inline: 24px;
    border-radius: 8px;
    border: none;
    box-shadow: 3px 2px 3px gray;
    background-color: skyblue;
    margin-block-start: 32px;
    margin-inline-start: 80%;
}