body {
    margin: 0;
    max-width: 500px;
    margin-inline-start: auto;
    margin-inline-end: auto;
}

h1 {
    margin: 0;
}

button {
    cursor: pointer;
}

.main_heading {
    margin-block-start: 32px;
    margin-inline-start: 32px;
}

.user_profile{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-inline-start: 32px;
    margin-block-start: -8px;
}

.user_name {
    margin-block-start: 0;
    margin-inline-start: 64px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    margin-block-start: 8px;
}

.link:hover {
    font-weight: bold;
    color: rebeccapurple;
    text-decoration: none;
    font-size: 18px;
}

.link_user {
    display: flex;
}


.post {
    border-bottom: 2px solid gray;
    padding: 32px;
    margin-block: 32px;
    border-radius: 12px;
    box-shadow: 5px 5px 5px lightgray;

}

.heading {
    display: flex;
    justify-content: space-between;
}

.profile_image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.header {
    margin-block-start: 12px;
    margin-inline-start: 16px;
}

img {
    width: 100%;
}

.likes {
    margin-block-start: 32px;
}

.likebtn {
    padding-block: 5px;
    padding-inline: 8px;
    border-radius: 5px;
    border: none;
    background-color: skyblue;
    color: black;
}

.likes_number {
    margin-inline-start: 32px;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

h4 {
    font-size: 18px;
    margin-block-end: 0;
    margin-block-start: 12px;
    margin-inline-start: -35%;
}

.comments_container {
    margin-block-start: 32px;
}

.user {
    display: flex;
    flex-direction: row;
}

.user_name {
    transform: translate(-240px);
    margin-block-start: 16px;
}

.friends {
    display: flex;
    justify-content: space-between;
}

.date {
    margin-block-start: 18px;
}

.dateOfComment {
    margin-top: -32px;
}

.username {
    margin-block-start: 0;
}

input[type="text"] {
    font-family: 'Poppins_medium';
    padding-right: 30%;
    padding-block-start: 12px;
    padding-block-end: 12px;
    border-radius: 12px;
    border: none;
    background-color: #f2f2f2;
    padding-inline-start: 16px;
    color: #dbdbdb;
    margin-block-start: 8px;
}

input[type="submit"] {
    font-family: 'Poppins_medium';
    margin-left: -90px;
    background-color: white;
    color: black;
    border: 0;
    padding-inline: 16px;
    padding-block: 9px;
    border-radius: 12px;
    -webkit-appearance: none;
}

.submit_form {
    padding: 32px;
}

.textarea {
    border: none;
    display: flex;
    flex-direction: column;
}

.input_profile,
.input_user_name {
    display: flex;
    justify-content: space-between;
    border: none;
}

.userName {
    margin-block-start: 16px;
}

.input_profile > label {
    margin-block-start: 8px;
}

.statu {
    margin-block-start: 16px;
    background-color: lightgray;
    border: none;
    border-radius: 8px;
}

.image_url {
    border: none;
    padding: 8px;
    border-radius: 8px;
    background-color: lightgray;
    width: 70%;
}

.submitBttn {
    padding-block: 12px;
    padding-inline: 24px;
    border-radius: 8px;
    border: none;
    box-shadow: 3px 2px 3px gray;
    background-color: skyblue;
    margin-block-start: 32px;
    margin-inline-start: 80%;
}